@model Practica04.Models.Prestamos

@{
    ViewBag.Title = "Create";
}

<div class="col-12 d-flex justify-content-center">
    <div class="row col-8">
        <div class="card">
            <div class="card-body bg-white border-light shadow-sm">
                <h2 class="h5 mb-4">Nuevo Prestamo</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="row mt-1 mb-1">
                        @Html.ValidationSummary(true)
                        <div class="col-md-6 mb-3">
                            <label for="name">Libro</label>
                            <div class="input-group">
                                @Html.DropDownList("IdLibro", null, htmlAttributes: new { @class = "form-select form-control", @id = "supplier" })
                            </div>
                            @Html.ValidationMessageFor(model => model.IdLibro, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="supplier">Usuario</label>
                            <div class="input-group">
                                @Html.DropDownList("IdUsuario", null, htmlAttributes: new { @class = "form-select form-control", @id = "supplier" })
                            </div>
                            @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="quantity">Fecha Prestamo</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.FechaPrestamo, new { htmlAttributes = new { @class = "form-control", @id = "quantity" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.FechaPrestamo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="price">Fecha Devolución</label>
                            <div class="input-group">
                                @Html.EditorFor(model => model.FecDevolucion, new { htmlAttributes = new { @class = "form-control", @id = "price" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.FecDevolucion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-tertiary"><i class="fas fa-plus-circle"></i> Guardar</button>
                    <a href="/Prestamos/" class="btn btn-black"><i class="fas fa-times-circle"></i> Regresar</a>
                }
            </div>
        </div>
    </div>
</div>
