@model IEnumerable<Practica04.Models.Prestamos>

@{
    ViewBag.Title = "Index";
    var count = 1;
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Prestamos</h2>
        <a href="/Prestamos/Create/" class="btn btn-blue">Nuevo Prestamo <i class="fas fa-plus-circle"></i></a>
    </div>
    <div class="card-body">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
                <tr>
                    <th>N°</th>
                    <th>LIBRO</th>
                    <th>CLIENTE</th>
                    <th>F. PRESTAMO</th>
                    <th>F. DEVOLUCIÓN</th>
                    <th class="text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <td class="border-0">@(count ++)</td>
                    <td class="border-0">@item.Libro.Titulo</td>
                    <td class="border-0">@item.Usuario.Nombre</td>
                    <td class="border-0">@item.FechaPrestamo</td>
                    <td class="border-0">@item.FecDevolucion</td>
                    <td class="border-0 text-center">
                        <a href="/Prestamos/Edit/@item.IdPrestamo" class="btn btn-sm btn-warning"
                           title="Editar"><i class="fas fa-edit"></i></a>
                        <a href="/Prestamos/Delete/@item.IdPrestamo" class="btn btn-sm btn-danger"
                           title="Eliminar"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="border-0"><strong class="d-flex justify-content-center">No hay categorias registradas, agregue una.</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>