@model Categories

@{
    ViewBag.Title = "Edit";
}

<div class="col-12 d-flex justify-content-center">
    <div class="row col-8">
        <div class="card">
            <div class="card-body bg-white border-light shadow-sm">
                <h2 class="h5 mb-4">Editar Categoría</h2>
                @using (Html.BeginForm())
                {
                    <div class="row mt-1 mb-1">
                        <div class="col-md-6 mb-3">
                            <label for="category_name">ID</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.CategoryID, new { @class = "form-control", @id = "category_name", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="category_name">Nombre</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @id = "category_name" })
                            </div>
                            @Html.ValidationMessageFor(model => model.CategoryName)
                        </div>
                        <div class="mb-3">
                            <label for="category_description">Descripción</label>
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @id = "category_description" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> Actualizar</button>
                    <a href="/Categories/Index/" class="btn btn-black"><i class="fas fa-times-circle"></i> Regresar</a>
                }
            </div>
        </div>
    </div>
</div>