@model Lab14.Products

@{
    ViewBag.Title = "Delete";
}

<div class="col-12 d-flex justify-content-center">
    <div class="row col-8">
        <div class="card">
            <div class="card-body bg-white border-light shadow-sm">
                <h2 class="h5 mb-4">Eliminar Producto</h2>
                <div class="row mt-1 mb-1">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ProductID)
                    <div class="col-md-6 mb-3">
                        <label>Nombre</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Proveedor</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.Suppliers.CompanyName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Categoría</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.Categories.CategoryName, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Cantidad</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.QuantityPerUnit, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Precio</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Stock</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Orden</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.UnitsOnOrder, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Nivel de Inventario</label>
                        <div class="input-group">
                            @Html.EditorFor(model => model.ReorderLevel, new { htmlAttributes = new { @class = "form-control", @type = "number", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Aplazado</label>
                        @Html.EditorFor(model => model.Discontinued, new { htmlAttributes = new { @class = "form-check-input ml-2", @disabled = "true" } })
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                    <a href="/Products/" class="btn btn-black"><i class="fas fa-times-circle"></i> Regresar</a>
                }
            </div>
        </div>
    </div>
</div>