@model IEnumerable<Lab14.Products>

@{
    ViewBag.Title = "Index";
    var count = 1;
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h4 mb-0">Listado de Productos</h2>
        <div class="d-flex">
            <div class="input-group input-group-merge search-bar w-auto mr-4">
                <span class="input-group-text" id="topbar-addon"><span class="fas fa-search"></span></span>
                <input type="text" class="form-control" id="search" placeholder="Filtrar por Categoria" aria-label="Search" aria-describedby="topbar-addon" autocomplete="off" />
            </div>
            <a href="/Products/Create/" class="btn btn-tertiary">Crear Producto <i class="fas fa-plus-circle"></i></a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
                <tr>
                    <th>N°</th>
                    <th>NOMBRE</th>
                    <th>PROVEEDOR</th>
                    <th>CANTIDAD</th>
                    <th>PRECIO</th>
                    <th>STOCK</th>
                    <th>ORDEN</th>
                    <th>NIVEL</th>
                    <th>APLAZADO</th>
                    <th class="text-center">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="border-0">@(count ++)</td>
                            <td class="border-0">@item.ProductName</td>
                            <td class="border-0">@item.Suppliers.CompanyName</td>
                            <td class="border-0">@item.QuantityPerUnit</td>
                            <td class="border-0">@item.UnitPrice</td>
                            <td class="border-0">@item.UnitsInStock</td>
                            <td class="border-0">@item.UnitsOnOrder</td>
                            <td class="border-0">@item.ReorderLevel</td>
                            <td class="border-0"><input @(item.Discontinued == false ? "" : checked("checked")) 
                                                        class="form-check-input" disabled="disabled" type="checkbox"></td>
                            <td class="border-0 text-center">
                                <a href="/Products/Edit/@item.ProductID" class="btn btn-sm btn-warning" 
                                   title="Editar"><i class="fas fa-edit"></i></a>
                                <a href="/Products/Delete/@item.ProductID" class="btn btn-sm btn-danger" 
                                   title="Eliminar"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" class="border-0"><strong class="d-flex justify-content-center">No hay productos registros, agregue uno.</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>