@model List<Lab12.Models.Person>

@{
    ViewBag.Title = "Listar";
}

<div class="table-responsive">
    <table class="table table-centered table-nowrap mb-0 rounded">
        <thead class="thead-light">
            <tr>
                <th class="border-0">Persona ID<th>
                <th class="border-0">Nombre<th>
                <th class="border-0">Apellido<th>
                <th class="border-0">Fecha Nac.<th>
                <th class="border-0">Dirección<th>
                <th class="border-0">Correo<th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <th class="border-0">@person.PersonID<th>
                    <th class="border-0"><span class="h6">@person.FirstName</span><th>
                    <th class="border-0">@person.LastName<th>
                    <th class="border-0">@person.DateOfBirth<th>
                    <th class="border-0">@person.Address<th>
                    <th class="border-0">@person.Email<th>
                </tr>
            }
        </tbody>
    </table>
</div>

